<ul class="clearfix">
<% for (var j = 0; j < contacts.length; j++){%> 
<li class="contact span8">
		<%== can.view.render('views/contactView.ejs', {contact: contacts[j]}) %>
		</li>
	<% } %>
</ul>

	

	


