<ul class="clearfix" nav-list>
<% for (var j = 0; j < contacts.length; j++){%> 
<li class="contact">
		<%== can.view.render('views/contactView.ejs', {contact: contacts[j]}) %>
		</li>
	<% } %>
</ul>

	

	


