<div class="hero-unit user span8">
	<%== can.view.render('views/userView.ejs', {user: user}) %>
		<div class="userButtons">
			<a id="userSave" href="javascript://" class="btn btn-primary save">Save</a>
			<a id="userCancel" href="javascript://" class="btn cancel">Cancel</a>
		</div>
</div>