<div class="hero-unit user span5">
	<%== can.view.render('views/userDefinedCategoryView.ejs', {userDefined: userDefined}) %>
	<div class="row">
		<div class="buttons pull-right">
			<a id="userDefinedCategorySave" href="javascript://" class="btn btn-primary save">Save</a>
			<a id="userDefinedCategoryCancel" href="javascript://" class="btn cancel">Cancel</a>
		</div>
	</div>
</div>