<div class="hero-unit business span8">
	<%== can.view.render('views/businessView.ejs', {business: business}) %>
	<div class="row">
		<div class="buttons pull-right">
			<a id="businessSave" href="javascript://" class="btn btn-primary save">Save</a>
			<a id="businessCancel" href="javascript://" class="btn cancel">Cancel</a>
		</div>
	</div>
</div>