<ul class="nav nav-list">
	<li class="nav-header">Company</li>
	<% $.each(categories, function(i, category){ %>
		<li class="businessHeader">
			<a href="javascript://" data-category="<%= category.BBusId %>">
				<%= category.BName %> 
			</a>
		</li>
		<div id="menu-container" style="position:absolute; width: 500px;"></div>
		<li class="business">
		<%== can.view.render('views/businessView.ejs', {business: category}) %>
		</li>
		</div>
	<% }) %>
</ul>