<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:10.5pt;font-family:"Courier New";mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 style='width:234pt;height:69pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="Memo%20Template_files/image001.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><img width=312 height=92
src="Memo%20Template_files/image002.jpg" v:shapes="Picture_x0020_1"><![endif]></span><span
style='font-size:10.5pt;font-family:"Courier New"'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:10.5pt;font-family:"Courier New"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>905 E. Arlington Blvd, Suite A<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>Greenville, NC 27858<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>252-355-4166 Fax: 252-355-3589<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>1-800-850-4766<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'>Date:<span style='mso-tab-count:1'>              </span>
{Today's Date?}<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'>To:<span style='mso-tab-count:1'>                 </span>
<%=data.BName %><o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'>From:<span style='mso-tab-count:1'>                 </span>
Carolina Benefits Specialists<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><b><span style='font-family:
"Times New Roman","serif"'>Ref:<span style='mso-tab-count:1'>                </span>
<%=data.BName %><o:p></o:p></span></b></p>

<p class=MsoNormal><b><span style='font-family:"Times New Roman","serif"'><span
style='mso-spacerun:yes'> </span><span style='mso-tab-count:2'>                       </span>
    <span
class=GramE>3B-HEALTH_GROUP_#<%=data.BBusId %></span></span></b></p>

</div>
