	<div Class="row">
		<div class="span2">
		This is report #1.  Live long and prosper!!!  
		</div>
		
		<div class="span2"> 
			BName: <%= data.BName%>
		</div>
		
		<div class="span2"> 
			BName: <%= data.BState%>
		</div>
	</div>

