<div class="categoryPosition">
<ul class="clearfix" nav-list>
<% for (var j = 0; j < userDefined.length; j++){%> 
<li class="user">
<%== can.view.render('views/userDefinedCategoryView.ejs', {userDefined: userDefined[j]}) %>
<% } %>
</ul>
</div>


	

	


